<h3>Просмотр всех пользователей</h3>
<% k = 1 %>
<%@users.each do |user|%>
<h3><%= k %> Пользователь:</h3>
    <p>Email: <%= user.email %></p>
    <p>Логин: <%= user.login %></p>
    <% k += 1 %>
<% end %>
